.wrap-detail {
    position: relative;
}

.wrap-detail>.switchContent {
    position: absolute;
    top: 50px;
    left: 18%;
}

.wrap-detail>.switchContent>button {
    padding: 0 25px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
    height: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 900;
}

.wrap-detail>.switchContent>button.current {

    background-color: #ffffff;
    color: #000000;
}
.main-detail {
    background-image: linear-gradient(to bottom,#F0AD5F 50%, #413d40 50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 200px 3%;
}

.main-detail>.detail-box {
    background-color: #ffffff;
    width: 65%;
    position: relative;
    display: flex;
    border-radius: 8px;
}

.main-detail>.detail-box>.pic {
    background-image: url('/imgs/bartender.jpg');
    width: 35%;
    height: 120%;
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 0 8px 8px 0;
    box-shadow: 1px 1px 8px #413d40;
    top: -50px;
    left: -20px;
}


.main-detail>.last,
.main-detail>.next {
    background-color: #ffffff;
    border: 2px solid #000000;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-detail>.last img,
.main-detail>.next img {
    width: 25px;
}

.main-detail>.last:hover,
.main-detail>.next:hover {
    background-color: #413d40;
}


@media (max-width: 1700px) {
    .main-detail>.detail-box {
        width: 70%;
    }
    .wrap-detail>.switchContent {
        left: 16%;
    }
}

@media (max-width: 1600px) {
    .main-detail>.detail-box {
        width: 75%;
    }
    .wrap-detail>.switchContent {
        left: 13.5%;
    }
}

@media (max-width: 1400px) {
    .main-detail>.detail-box {
        width: 80%;
    }
    .wrap-detail>.switchContent {
        left: 11%;
    }
}


@media (max-width: 1280px) {
    .main-detail {
        padding: 100px 3%;
    }
    .main-detail>.detail-box {
        margin-top: 50px;
        width: 90%;
    }
    .main-detail>.detail-box>.pic {
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 0;
    }
}

@media (max-width: 1100px) {
    .main-detail>.detail-box {
        width: 100%;
    }
    .wrap-detail>.switchContent {
        left: 12%;
    }
}

.main-detail>.detail-box>.blank {
    width: 40%;
}


.main-detail>.detail-box>.content {
    padding: 60px 0;
    letter-spacing: 1px;
    max-width: 55%;
}



.main-detail>.detail-box>.content {
    position: relative;
    overflow: hidden;
}

.main-detail>.detail-box>.content>.collect {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    width: 10%;
}
.main-detail>.detail-box>.content>.collect img{
    width: 100%;
}

.main-detail>.detail-box>.content>.collect:hover {
    animation-name: shake;
    animation-duration: .2s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0%{
        transform: rotate(0.05turn);
    }
    50%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(-0.05turn);
    }
}
.main-detail>.detail-box>.content>.item-creator {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #ffffff;
    border: none;
    display: flex;
    align-items: center
}

.main-detail>.detail-box>.content>.item-creator>img {
    width: 40px;
}

.main-detail>.detail-box>.content>.item-creator>p {
    font-size: 18px;
    margin-right: 5px;
}
.main-detail>.detail-box>.content>h2 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 900;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* display: flex; */
    overflow: hidden;
}

.main-detail>.detail-box>.content>a {
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
    transform: translateX(82px);
    transition: linear .5s;
}

.main-detail>.detail-box>.content>a:hover {
    transform: translateX(0);
    transition: all .5s;
    border-bottom: 2px solid #000000;
}

.main-detail>.detail-box>.content>h2::after {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #F0AD5F;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-detail>.detail-box>.content>p {
    margin-bottom: 0px;
    font-size: 18px;
}

.main-detail>.detail-box>.content>.ingredient-content {
    display: flex;
    justify-content: space-between;
}


.main-detail>.detail-box>.content>.ingredient-content>div {
    width: 50%;
}


.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description h3 {
    font-size: 28px;
    margin: 50px 0;
}

@media (max-width: 950px) {
    .main-detail>.detail-box>.content>.ingredient-content>div {
        width: 45%;
    }
}


@media (max-width: 850px) {
    .main-detail>.detail-box {
        justify-content: center;
    }
    .main-detail>.detail-box>.content {
        max-width: unset;
        width: 90%;
    }
    .main-detail>.detail-box>.content>p {
        margin-bottom: 10px;
    }
    .main-detail>.detail-box>.content>.ingredient-content {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .main-detail>.detail-box>.content>.ingredient-content>div {
        width: 100%;
    }
    .main-detail>.detail-box>.content>.ingredient-content>.ingredient-description {
        order: 1;
    }
    .main-detail>.detail-box>.content>.ingredient-content>.ingredient-info {
        order: 0;
    }
    .main-detail>.detail-box>.pic,
    .main-detail>.detail-box>.blank  {
        display: none;
    }

    .main-detail>.detail-box>.content>.ingredient-content>.ingredient-description h3 {
        margin: 20px 0;
    }
    
    .main-detail>.detail-box>.content>a {
        transform: translateX(0);
    }
    .wrap-detail>.switchContent {
        left: 15%;
    }
}

@media (max-width: 680px) {
    .main-detail>.detail-box>.content>h2 {
        font-size: 25px;
    }
    .main-detail {
        position: relative;
    }
    .main-detail>.last,
    .main-detail>.next {
        position: absolute;
        z-index: 3;
        top: 350px;
    }
    .main-detail>.next {
        right: 8%;
    }

    .main-detail>.last {
        left: 8%;
    }

    .wrap-detail>.switchContent {
        left: 3%;
        z-index: 5;
    }
}


.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul {
    margin-bottom: 50px;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li{
    padding: 5px 0 5px 25px;
    display: flex;
    position: relative;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li{
    padding: 5px 0 5px 25px;
    display: flex;
    position: relative;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li span {
  line-height: 30px;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li .measure {
    font-weight: 900;
    margin-right: 10px;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li>.btn{
    position: absolute;
    width: 30px;
    cursor: pointer;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li>.btn>img{
    width: 100%;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li>.btn.btn-already-had{
    left: 0;
    top: calc(50% - 10px);
    width: 20px;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li>.btn.btn-need-to-buy{
    right: 0;
    display: none;
}
.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li>.btn.btn-need-to-buy.pinned{
    display: block;
}
.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description ul li:hover>.btn-need-to-buy{
    display: block;
}



.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description p {
    line-height: 20px;
    min-width: 300px;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description {
    position: relative;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingredient-description::after {
    position: absolute;
    content: '';
    background-color: #413d40;
    width: 2px;
    height: 200px;
    top: 100px;
    right: -90px;
    display: none;
}


@media (max-width: 950px) {
    .main-detail>.detail-box>.content>.ingredient-content>.ingredient-description::after {
        top: 100px;
        right: -30px;
    }
}

@media (max-width: 850px) {
    .main-detail>.detail-box>.content>.ingredient-content>.ingredient-description::after {
        display: none;
    }
}

.main-detail>.detail-box>.content>.ingredient-content>.ingedient-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-detail>.detail-box>.content> img {
    display: none;
}
.main-detail>.detail-box>.content>.ingredient-content>.ingedient-info>.svg {
    margin-bottom: 30px;
    position: relative;
}

.main-detail>.detail-box>.content>.ingredient-content>.ingedient-info>.svg svg{
    animation-name: hideGlass;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    opacity: 1;
}
.main-detail>.detail-box>.content>.ingredient-content>.ingedient-info>.svg img{
    width: 64px;
    background-color: #ffffff;
    position: absolute;
    animation-name: shakeGlass;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    top: 86px;
    left: calc(50% - 32px);
    opacity: 0;
}

@keyframes hideGlass {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}


@keyframes shakeGlass {
    0%{
        transform: rotate(0.03turn);
        opacity: 1;
    }
    6%{
        transform: rotate(0turn);
        opacity: 1;
    }
    12%{
        transform: rotate(-0.03turn);
        opacity: 1;
    }
    18%{
        transform: rotate(0.03turn);
        opacity: 1;
    }
    24%{
        transform: rotate(0turn);
        opacity: 1;
    }
    30%{
        transform: rotate(-0.03turn);
        opacity: 1;
    }
    36%{
        transform: rotate(0.03turn);
        opacity: 1;
    }
    42%{
        transform: rotate(0turn);
        opacity: 1;
    }
    48%{
        transform: rotate(-0.03turn);
        opacity: 1;
    }
    54%{
        transform: rotate(0.03turn);
        opacity: 1;
    }
    60%{
        transform: rotate(0turn);
        opacity: 1;
    }
    66%{
        transform: rotate(-0.03turn);
        opacity: 1;
    }
    72%{
        transform: rotate(0.03turn);
        opacity: 1;
    }
    78%{
        transform: rotate(0turn);
        opacity: 1;
    }
    84%{
        transform: rotate(-0.03turn);
        opacity: 1;
    }
    90%{
        transform: rotate(0turn);
        opacity: 1;
    }
    96%{
        transform: rotate(0.03turn);
        opacity: 1;
    }
    100%{
        transform: rotate(0turn);
        opacity: 1;
    }
}


@media (max-width: 850px) {
    .main-detail>.detail-box>.content>.ingredient-content>.ingedient-info>.svg {
        margin-bottom: 20px;
    }
    .main-detail>.detail-box>.content>.ingredient-content>.ingedient-info>.svg svg{
        width: 150px;
        height: 200px;
    }
}