.wrap-landing>.intro-area {
    height: 400px;
    color: #ffffff;
    background-image: url('/imgs/bg-index.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .wrap-landing>.intro-area {
        padding-left: 20px;
        padding-right: 20px;
        background-image: url('/imgs/bg-index-mobile.png');
        background-attachment: scroll;
    }
}


.wrap-landing>.intro-area>h2 {
    color: #ffffff;
    font-size: 5em;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    margin: 125px auto 0 auto;
    width: 100%;
}

@media (max-width: 1100px) {
    .wrap-landing>.intro-area>h2 {
        font-size: 4em;
    }
}

@media (max-width: 900px) {
    .wrap-landing>.intro-area>h2 {
        font-size: 3em;
    }
}

.wrap-landing>.intro-area>a {
    padding: 0 25px;
    margin: 0 10px;
    background-color: #ffffff;
    border: 2px solid #000000;
    height: 50px;
    letter-spacing: 4px;
    font-weight: 900;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    z-index: 100;
}

.wrap-landing>.intro-area>a:nth-child(2) {
    color: #ffffff;
    background-color: #000000;
}

.wrap-landing>.main-landing {
    padding: 50px 0;
    
}

/* intro classic */
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container {
    display: flex;
    max-width: 70%;
    margin: auto;
    margin-bottom: 80px;
    height: 300px;
}
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 50%;
    justify-content: flex-start;
}

.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li{
    width: 28%;
    padding: 60px 0;
    /* height: 150px; */
    border: 2px solid #282828;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 10px 2%;
}

.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li>.cover{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #282828;
    transition: all 1s;
    opacity: 1;
}
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li:nth-child(odd)>.cover {
    background-color: #ffffff;
    
}
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li>.cover img{
    width: 80px; 
    margin-bottom: 10px;
}
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li>.cover a{
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 900;
    text-decoration: none;
}
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li:nth-child(odd)>.cover a {
    color: #282828;
}

.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li:hover .cover{
    transform:rotateY(180deg);
    opacity: 0;
}

.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li.item1 { background-image:url('/imgs/bg-brandy.png'); }
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li.item2 { background-image:url('/imgs/bg-rum.png'); }
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li.item3 { background-image:url('/imgs/bg-gin.png'); }
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li.item4 { background-image:url('/imgs/bg-whisky.png'); }
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li.item5 { background-image:url('/imgs/bg-tequila.png'); }
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list li.item6 { background-image:url('/imgs/bg-vodka.png'); }


.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation{
    display: flex;
    /* align-items: flex-end; */
    justify-content: center;
    width: 50%;
    position: relative;

}

.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description{
    position: absolute;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description h3,
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description p{
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description h3{
   font-size: 3.5em;
}


.wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation svg{
    width: 100px;
    height: 100px;
}

@media (max-width: 1250px) {
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description h3,
        .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description p{
        font-size: 20px;
        margin-bottom: 10px;
        }
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description h3{
        font-size: 2.5em;
     }  
}

/* intro-searchBar */
.wrap-landing>.main-landing>.intro-searchBar {
    background-image: url('/imgs/bg-member-1.png');
    background-attachment: fixed;
    height: 500px;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    .wrap-landing>.main-landing>.intro-searchBar {
        background-image: url('/imgs/bg-member-1-mobile.png');
        background-attachment: scroll;
    }  
}

.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container {
    display: flex;
    max-width: 70%;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: url(/imgs/cursor.png), auto;
}
.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>div {
    width: 50%;
    height: 300px;
}
.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description {
    background-color: rgba(255, 255, 255, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
}
.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description p,
.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description h3{
    font-size: 24px;
    letter-spacing: 2px;
   margin-bottom: 10px;
}
.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description h3{
    font-size: 3.5em;
}
.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.image{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    overflow: hidden;
    padding: 0 5%;
    z-index: 10;
}
.wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.image img{
    width: 100px;
}

@media (max-width: 1250px) {
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container,
    .wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container {
        max-width: unset;
        width: 90%;
    }
    .wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description h3,
        .wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description p{
        font-size: 20px;
        margin-bottom: 10px;

        } 
}

@media (max-width: 650px) {
    .wrap-landing>.main-landing {
        padding: 30px 0;
        
    }
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container,
    .wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container {
        flex-direction: column;
        align-items: center;
        height: unset;
    }
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list,
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation {
        width: 90%;
        height: 300px;
    }
    
    .wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description {
        width: 90%;
        height: 400px;
    }
    .wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.image{
        position: absolute;
        width: 80%;
        height: 400px
    }


    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation {
        order: 0;
    }
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-classic-list {
        order: 1;
    }
    .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description h3{
        font-size: 2em;
     }  
     .wrap-landing>.main-landing>.intro-classic>.intro-classic-container>.intro-animation>.description p{
        font-size: 20px;
      }
    .wrap-landing>.main-landing>.intro-searchBar>.intro-searchBar-container>.description h3{
        font-size: 2em;
     } 
     
}

/* Road sign */
.image>div{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
.image>div>.road-sign{ 
    height: 200px; 
    width: 10px;
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 12px;   
    border-radius: 8px 8px 0 0; 
    transform: translateY(50px);
    transition: ease-in .3s;
  }
  .image>div:nth-child(1)>.road-sign{ 
    transform: translateY(60px);
  }
  .image>div:nth-child(2)>.road-sign{ 
    transform: translateY(70px);
  }
  .image>div:nth-child(3)>.road-sign{ 
    transform: translateY(50px);
  }
  .image>div:nth-child(4)>.road-sign{ 
    transform: translateY(80px);
  }  
  .image>div>.road-sign>.item {
    width: 90px;
    padding: 5px;
    border: 2px outset #000000;
    display: flex;
    align-items: center;
    justify-content: center;  
    transform-origin: center;   
  }
  .image>div:hover .road-sign{
    transform: translateY(40px);
  }


  .image>div>.road-sign>.item a{ 
    color: #000000;   
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  .image>div>.road-sign>.right{  
    transform: translate(-40px, 30px);    
    background-color: crimson; 
    border-radius: 10px 50px 50px 10px;
  }
  .image>div>.road-sign>.left{
    transform: translate(-50px, 40px);
    background-color: teal; 
    border-radius: 50px 10px 10px 50px;   
  }
  .image>div:nth-child(3)>.road-sign>.left{ 
    background-color: #eea60b; 
    transform: translate(-50px, 40px) rotate(10deg);
  }
  .image>div:nth-child(1)>.road-sign>.right{ 
    background-color: #ffe75e; 
    transform: translate(-40px, 30px) rotate(-5deg);
  }
  .image>div:nth-child(1)>.road-sign>.left{ 
    background-color: #5b8c5a;
  }
  .image>div:nth-child(4)>.road-sign>.left{ 
    background-color: #ba6b57;
    transform: translate(-50px, 40px) rotate(-5deg);
  }
  .image>div:nth-child(3)>.road-sign>.right{ 
    background-color: #eb9788; 
    transform: translate(-40px, 30px) rotate(-10deg);
  }

  .image>div:hover .road-sign .right{
    transform: translate(-40px, 30px) rotate(-15deg);
  }
  .image>div:hover .road-sign .left{
    transform: translate(-50px, 40px) rotate(5deg);

  }

  
  

/* Sign in sign up */
.wrap-landing>.main-landing>.member-area {
    width: 60%;
    margin: auto;
    position: relative;

}

.wrap-landing>.main-landing>.member-area>.member-message {
    display: flex;
    padding: 30px;
    background-color: #282828;
    color: #ffffff;
    height: 350px;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 3px;
    border-radius: 3px;
}

.wrap-landing>.main-landing>.member-area>.member-message h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

.wrap-landing>.main-landing>.member-area>.member-message p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.wrap-landing>.main-landing>.member-area>.member-message>div {
    width: 40%;
    padding: 2%;
}

.wrap-landing>.main-landing>.member-area>.member-message>div button,
.wrap-landing>.main-landing>.member-area>.member-message>button {
    padding: 0 25px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    height: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 3px;
}

.wrap-landing>.main-landing>.member-area>.member-message>button {

}

@media (max-width: 1550px) {
    .wrap-landing>.main-landing>.member-area {
        width: 70%;
    }
} 

@media (max-width: 1250px) {
    .wrap-landing>.main-landing>.member-area {
        width: 90%;
    }
    .wrap-landing>.main-landing>.member-area>.member-message>div {
        width: 40%;
        padding: 1%;
    }
} 


.wrap-landing>.main-landing>.member-area>form {
    background-color: #ffffff;
    padding: 50px 30px;
    box-shadow: black 0.1em 0.1em 0.2em;
    position: absolute;
    top: -10px;
    width: 50%;
    height: 370px;
}

.wrap-landing>.main-landing>.member-area>.sign-in-with-email {
    transform: translateX(0);
    transition: ease-in .3s;
    opacity: 0;
}

.wrap-landing>.main-landing>.member-area>.sign-in-with-email.slip {
    z-index: 50;
    transform: translateX(90%);
    opacity: 1;
}

.wrap-landing>.main-landing>.member-area>.sign-up-with-email {
    
    transform: translateX(90%);
    transition: ease-in .3s;
    opacity: 0;
}

.wrap-landing>.main-landing>.member-area>.sign-up-with-email.slip {
    transform: translateX(5%);
    opacity: 1;
}

.wrap-landing>.main-landing>.member-area>.mobile-buttons {
    display: none;
}

.wrap-landing>.main-landing>.member-area>.mobile-buttons>button {
    width: 50%;
    padding: 0 25px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    height: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 900;
    cursor: pointer;

}

.wrap-landing>.main-landing>.member-area>.mobile-buttons>#mobile-signUp {
    border-radius: 0 0 0 3px;
}

.wrap-landing>.main-landing>.member-area>.mobile-buttons>#mobile-signIn {
    border-radius: 0 0 3px 0;
}

.wrap-landing>.main-landing>.member-area>.mobile-buttons>button.current {
    background-color: #ffffff;
    color: #000000;
}

/* sign in sign up form, mobile version */
@media (max-width: 650px) {
    .wrap-landing>.main-landing>.member-area>.mobile-buttons {
        display: flex;
    }
    .wrap-landing>.main-landing>.member-area {
        box-shadow: 0 1px 10px #000000;
        border-radius: 3px;
        background-color: #ffffff;
    }
    .wrap-landing>.main-landing>.member-area>.member-message {
        flex-direction: column;
        overflow: hidden;
        height: 360px;
        background-color: #ffffff;
    }

    .wrap-landing>.main-landing>.member-area>.member-message>div>button {
        background-color: #ffffff;
    }

    .wrap-landing>.main-landing>.member-area>.member-message>div {
        width: 100%;
    }
    .wrap-landing>.main-landing>.member-area>form {
        box-shadow: none;
        width: 100%;
        height: 370px;
        border-radius: 3px 3px 0 0;
    }
    
    .wrap-landing>.main-landing>.member-area>.sign-in-with-email {
        transform: translateY(-400px);
        transition: ease-in .5s;
        opacity: 0;
    }
    
    .wrap-landing>.main-landing>.member-area>.sign-in-with-email.slip {
        z-index: 50;
        transform: translateY(0);
        opacity: 1;
    }
    
    .wrap-landing>.main-landing>.member-area>.sign-up-with-email {
        transform: translateX(-400px);
        transition: ease-in .5s;
        opacity: 0;
    }
    
    .wrap-landing>.main-landing>.member-area>.sign-up-with-email.slip {
       
        transform: translateY(0);
        opacity: 1;
    }
}

.wrap-landing>.main-landing>.member-area>form h3 {
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 24px;
}

.wrap-landing>.main-landing>.member-area>form input {
    letter-spacing: 2px;
    display: block;
    padding: 10px 5px;
    border: none;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid #cdcdcd;
    margin-bottom: 10px;
    outline: none;
}

.wrap-landing>.main-landing>.member-area>form>.btn-area{
    display: flex;
    margin: 30px 0;
}
.wrap-landing>.main-landing>.member-area>form button {
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 3px;
    border: none;
}

.wrap-landing>.main-landing>.member-area>form #sign-up,
.wrap-landing>.main-landing>.member-area>form #sign-in {
    margin-left: auto;
}

.wrap-landing>.main-landing>.member-area>form #facebook,
.wrap-landing>.main-landing>.member-area>form #google {
    border: none;
    background-color: #ffffff;
    margin: 0;
    width: 40px;
}

.wrap-landing>.main-landing>.member-area>form input[type="image"] {
    
} 

.wrap-landing>.main-landing>.member-area>form a {
    display: inline-block;
    text-decoration: none;
    color: #cdcdcd;
    border-top: 20px solid #ffffff;
}

.wrap-landing>.main-landing>.member-area>form p {
    font-size: 14px;
    color: pink;
    line-height: 16px;
}

