.wrap-landing>.intro-area {
    height: 500px;
    color: #ffffff;
    background-image: url('/imgs/bg-index.jpg');
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}


.wrap-landing>.intro-area>h2 {
    color: #ffffff;
    font-size: 5em;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: auto;
}

.wrap-landing>.intro-area>button {
    padding: 0 25px;
    background-color: #ffffff;
    border: 2px solid #000000;
    height: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 900;
}

.wrap-landing>.intro-area>button a{
    color: #000000;
    text-decoration: none;
}

.wrap-landing>.main-landing {
    padding: 100px 0;
    
}

.wrap-landing>.main-landing>.member-area {
    width: 60%;
    margin: auto;
    position: relative;
}

.wrap-landing>.main-landing>.member-area>.member-message {
    display: flex;
    padding: 30px;
    background-color: #000000;
    color: #ffffff;
    height: 350px;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 3px;
    border-radius: 3px;
}

.wrap-landing>.main-landing>.member-area>.member-message h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

.wrap-landing>.main-landing>.member-area>.member-message p {
    font-size: 20px;
    margin-bottom: 20px;
}

.wrap-landing>.main-landing>.member-area>.member-message>div {
    width: 40%;
    padding: 2%;
}

.wrap-landing>.main-landing>.member-area>.member-message>div button {
    padding: 0 25px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    height: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 3px;
}

.wrap-landing>.main-landing>.member-area>form {
    background-color: #ffffff;
    padding: 50px 30px;
    box-shadow: black 0.1em 0.1em 0.2em;
    position: absolute;
    top: -10px;
    width: 50%;
    height: 370px;
    
}

@media (max-width: 1550px) {
    .wrap-landing>.main-landing>.member-area {
        width: 70%;
    }
} 

@media (max-width: 1000px) {
    .wrap-landing>.main-landing>.member-area {
        width: 85%;
    }
} 

@media (max-width: 700px) {
    .wrap-landing>.main-landing>.member-area {
        width: 95%;
    }
}

.wrap-landing>.main-landing>.member-area>.sign-in-with-email {
    
    transform: translateX(0);
    transition: ease-in .3s;
    opacity: 0;
}

.wrap-landing>.main-landing>.member-area>.sign-in-with-email.slip {
    z-index: 50;
    transform: translateX(90%);
    opacity: 1;
}

.wrap-landing>.main-landing>.member-area>.sign-up-with-email {
    
    transform: translateX(90%);
    transition: ease-in .3s;
    opacity: 0;
}

.wrap-landing>.main-landing>.member-area>.sign-up-with-email.slip {
   
    transform: translateX(5%);
    opacity: 1;
}

.wrap-landing>.main-landing>.member-area>form h3 {
    letter-spacing: 3px;
    margin-bottom: 10px;
    font-size: 24px;
}

.wrap-landing>.main-landing>.member-area>form input {
    letter-spacing: 2px;
    display: block;
    padding: 10px 5px;
    border: none;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid #cdcdcd;
    margin-bottom: 10px;
    outline: none;
}

.wrap-landing>.main-landing>.member-area>form>.btn-area{
    display: flex;
}
.wrap-landing>.main-landing>.member-area>form button {
    background-color: #000000;
    color: #ffffff;
    height: 50px;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 900;
    border-radius: 3px;
    border: none;
    margin: 30px 0;
}

.wrap-landing>.main-landing>.member-area>form #sign-up,
.wrap-landing>.main-landing>.member-area>form #sign-in {
    margin-left: auto;
}

.wrap-landing>.main-landing>.member-area>form #facebook,
.wrap-landing>.main-landing>.member-area>form #google {
    border: none;
    background-color: #ffffff;
}

.wrap-landing>.main-landing>.member-area>form button img {
    width: 32px;
} 

.wrap-landing>.main-landing>.member-area>form a {
    display: inline-block;
    text-decoration: none;
    color: #cdcdcd;
    border-top: 20px solid #ffffff;
}

.wrap-landing>.main-landing>.member-area>form p {
    font-size: 14px;
    color: pink;
    line-height: 16px;
}


